@tailwind base;
@tailwind components;
@tailwind utilities;
html, body{
    overflow-x: hidden;
}

.navbar-list {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .navbar-list.active {
    transform: translateX(0);
    opacity: 1;
  }

@font-face {
    font-family: "CyborgPunk";
    src: local("CyborgPunk"),
    url("./font/CyborgPunk.ttf") format("truetype");
}
.font-cyborg {
    font-family: "CyborgPunk";
}
@font-face {
    font-family: "Beyonders";
    src: local("Beyonders"),
    url("./font/Beyonders.ttf") format("truetype");
}
.font-beyonders {
    font-family: "Beyonders";
}